
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  background-color: #f3f3f3; 
  background-image: url(about.jpg);
}


.header {
  background-color: #212529; 
  color: #fff; 
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #1f242d; 
}


.home {
  padding: 50px 0;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 7%;
  color: white;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color:#7d2626
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 15px;
}
