* {
    margin: 0;
    padding: 0;
  }
  
  
  .main {
    width: 100%;
    height: 100vh;
    background-image: url("skill6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  

  .navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo {
    display: inline;
    width: 250px;
    cursor: pointer;
    margin: -3%;
    margin-left: -2%;
  }

  ul {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    display: flex; 
    text-align: center;
  }
  
  ul li {
    text-decoration: none;
    
    padding: 10px 16px;
  }
  
  ul li a {
    font: bold;
    text-decoration: none;
    color: white;
  }
  
  ul li a:hover {
    color: #0ef;
  }
  
  
  .ski {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    position: relative;
  }
  
  .skill {
    margin: 0 auto; 
    width: 40%; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: 5px; 
  }
  
  .skill h1 {
    color: rgb(113, 33, 33);
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
  }
  
  .skill h2 {
    color: rgb(141, 39, 39);
    margin-bottom: 10px;
    font-family: 'Lucida Sans', sans-serif;
  }
  
  .skill p {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .certi {
    margin: 0 auto; 
    width: 40%; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 350px;
    left: 50%;
    border-radius: 5px;
  }
  
  .certi h1 {
    color: rgb(162, 42, 42);
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
  }
  
  .certi h2,
  .certi p {
    color: rgb(153, 34, 34);
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  